.hero {
    text-align: center;
    color: white;
    background-color: rgb(46, 68, 87);
    padding: 20px 0;
    font-weight: 400;
    margin-bottom: 20px;
}

.card {
    color: white;
    background-color: rgb(46, 68, 87); 
    margin-left: 20px;
}

.card-body {
    text-align: center;
}

.card-button {
    width: 23rem;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}

.card-button:hover {
    background-color: rgb(53, 131, 219);
}